<%= form_for CustomUrl.new,url:{controller:"custom_urls",action:"create"},remote:true do |f| %>
<%= f.text_field :longurl,id:"customlongurl",class:"form-control input-lg",placeholder:"Please input the Url" %>
</br>
<div class="input-group input-group-lg">
<span class="input-group-addon">http://<%= request.host%>/</span>
<%= f.text_field :shorturl,id:"customshorturl",class:"form-control",placeholder:"Custom Url" %>
<span class="input-group-btn">
<%= f.submit "Shorten", class:"btn btn-primary", id:"customurl" %>
</span>
</div>
<% end %>


